<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory phpVersion="5.4.0" phpVersionOperator=">=" prefix="test-" suffix=".php">./tests/</directory>
			<file phpVersion="5.4.0" phpVersionOperator="&lt;">./tests/outdated-php-versions.php</file>
		</testsuite>
	</testsuites>
</phpunit>
